# Maven
target/
*/target/

# IDE
.idea/
.vscode/
*.iml

# Eclipse
.classpath
.project
.settings/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

target/

.idea/

.vscode/

*.iml

*.log

.env

HELP.md

/ntarget//n